body {
	cursor: url(https://cos.cdn.azpay.cn/uploads/2021/11/28/btn.cur), default;
}
select{
	cursor: url(https://cos.cdn.azpay.cn/uploads/2021/11/28/btn.cur), pointer;
}
button,a:hover{
	cursor: url(https://cos.cdn.azpay.cn/uploads/2021/11/28/btn.cur), pointer;
}
input{
	cursor:url(https://cos.cdn.azpay.cn/uploads/2021/11/28/btn.cur), text;	
}
textarea,input:focus{
	cursor:url(https://cos.cdn.azpay.cn/uploads/2021/11/28/btn.cur), text;	
}
code{
	cursor: url(https://cos.cdn.azpay.cn/uploads/2021/11/28/btn.cur), default;	
}
pre>code{
	cursor: url(https://cos.cdn.azpay.cn/uploads/2021/11/28/btn.cur), default;	
}
